@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'system-ui';
    color: #243e63
} 

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}


.text--purple {
    color: #6415ff;
}
.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}



img {
    width: 100%;
    height: 100%;
    max-height: 50vh;

}

h1 {
    font-size: 48px;
    color: black;
    line-height: 1.25;
}

p {
    line-height: 1.5;
    font-size: 18px;
}

button {
    cursor: pointer;
    border: none;
}

.btn {
    background-color: #6415ff;
    color: white;
    padding: 12px 32px;
    font-size: 14px;
    font-weight: bold;
    transition: all 300ms ease;
    border-radius: 50px;
    transition: all 300ms ease;
}

.btn:hover {
    background-color: rgba(80,17,204);
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025px;
} 

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.section__title--quality-work, .section__title--values {
    line-height: 1.25;
}


/* 
NAV 

*/

#landing {
    padding: 0 32px;
}

nav {
    display: flex;
    padding-top: 32px;
    height: 120px;
}


.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--wrapper {
    width: 40px;
}

.nav__logo--title {
    letter-spacing: .6px;
    margin-left: 12px;
    padding-bottom: 2px;
    font-size: 24px;
    font-weight: 900;
}

.nav__links {
    display: flex;
    padding-bottom: 2px;
    align-items: center;
}

.nav__link {
    margin: 0 24px;
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: .35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms ease;
}

.nav__link--login {
    margin-left: 48px;
}
.nav__link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #6415ff;
    transition: all 300ms ease;
    opacity: 0;
}
.nav__link:hover:after {
    opacity: 1;
}

.nav__link--primary {
    margin: 0;
    margin-top: 2px;
    padding: 10px 32px;
    border-radius: 9999px;
    line-height: 1.5;
    border: none;
    width: auto;
    background-color: #6415ff;
    color: white;
}

.nav__link--primary:hover {
    background-color: rgba(80, 17,204);
    color: white
}


/* 

HEADER

*/

.header__container {
    padding: 96px 0;
    display: flex;
    justify-content: space-between;
}


.header__description {
    width: 40%;
}

.header__img--wrapper {
    width: 60%
}

.header__description--para {
    margin: 32px 0;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

 .header__email--input:hover {
    border-color: rgba(160,174,192);
 }

.header__email--input:focus, .header__email--input:active {
    outline: none;
    border-color: rgba(100,21,255);
}

 .header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229,231,235);
    transition: border-color 300ms;
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
 }


.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: white;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
    justify-content: flex-end;
}

.header__email--btn:hover {
    background-color: rgba(60,13,153);
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6;
}

.header__customers--img {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}


/* 
FEATURES 
*/

#features {
    position: relative;
    padding: 0 32px;
}

.container {
    padding: 96px 0;
}

.section__title--features {
    text-align: center;
}
.section__para--features {
    text-align: center;
    max-width: 576px;
    
}

.row__narrow {
    display: flex;
    flex-direction: column;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}



.feature {
    padding: 32px 24px;
    width: calc(100% / 3)
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}
.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 100px;
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__description {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__description--para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

/* 

QUALITY WORK 

*/

#quality-work {
   padding: 0 32px;
}
.row__quality {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality__description, .quality__img--wrapper {
    width: 50%;
}

.quality__description {
    max-width: 576px;
    margin-right: 64px;
}



.quality__btn {
     margin-top: 32px;
}
.quality__img--wrapper {
    border: 1px solid rgb(229,231,235);
    border-radius: 4px;
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}

.quality__img {
    z-index: 1;
}

.quality__grid {
    position: absolute;
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    right: 0px;
    bottom: 0px;
    color: rgba(100, 21, 255);
    fill: rgb(100, 21, 255);
    z-index: 0;
    display: block;
    
}

/* 

STEPS 

*/

#steps {
   padding: 0 32px;
}

.steps__img--wrapper, .steps__description {
    width: 50%
}

.steps__img--wrapper {
    display: flex;
    position: relative;
}

.steps__img {
    z-index: 2;
}

.steps__grid {
    position: absolute;
    bottom: -40px;
    left:50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 10rem;
    opacity: 0.5;
    z-index: -10;
    color: rgb(100,21,255);
    fill: currentColor;
}

.steps__description {
    padding: 32px 0;
    padding-left: 64px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step__info {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step__description--title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step__description--para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

/* 

VALUES 

*/

#values {
   padding: 0 32px;
}

.values__description, .values__img--wrapper {
    width: 50%;
}


.values__description {
    padding: 32px 64px 32px 0;
}

.section__title--values {
    margin-top: 16px;
    margin-bottom: 32px;
}

.values__list {
    margin-left: 0px; 
    margin-right: 0px; 
    display: flex;
    max-width: none;
}

.value:nth-of-type(1) {
    margin-top: 32px;
    margin-right: 32px;
}

.value {
    margin-top: 2rem;
    margin-right: 2rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}


.value__title {
    display: flex;
    align-items: center;
}

.value__img--price-wrapper {
    background-color: #9ae6b4;
}

.value__img--suit-wrapper {
    background-color: #feb2b2;
}

.value__img--wrapper {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}


.values__btn {
    margin-top:48px;
}


/*

PRICING 

*/

#pricing {
    padding: 0 32px;
}

.row__pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__title--pricing {
    text-align: center;
}

.section__para--pricing {
    max-width: 576px;
    text-align: center;
}

.plans {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
}

.plan {
position: relative;
display: flex;
flex-direction: column;
width: 100%;
max-width: 24rem;
border-radius: .5rem;
background-color: rgb(255,255,255);
padding: 0.5rem 2rem 0 2rem;
margin: 4rem 2rem 0 0;
text-align: center;
color: rgb(26 32 44);
box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.plan:nth-child(1) .plan__stripe,
.plan:nth-child(1) .plan__btn {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56,178,172) 0%, rgb(129, 230, 217) 100%);
}

.plan:nth-child(3) .plan__stripe,
.plan:nth-child(3) .plan__btn {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}


.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

/* PLAN TOP */

.plan__top {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    line-height: 1.625;
}

.plan:nth-child(odd) .plan__name,
.plan:nth-child(odd) .plan__price,
.plan:nth-child(odd) .plan__target {
    color: #1a202c;
}

.plan:nth-child(even) .plan__name,
.plan:nth-child(even) .plan__price,
.plan:nth-child(even) .plan__duration,
.plan:nth-child(even) .plan__target,
.plan:nth-child(even) .plan__feature {
    color: #f7fafc;
}


.plan__name, 
.plan__price,
.plan__target,
.plan__duration {
    font-weight: bold;
    line-height: 1.625;
}

.plan__name {
    font-size: 20px;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0;
}

.plan:nth-child(odd) .plan__duration {
    color: #a0aec0;
}

.plan__duration {
    font-size: 16px;
    letter-spacing: 0.1em;
}


/* PLAN MIDDLE */

.plan:nth-child(odd) .plan__middle {
    border-top: 2px solid rgb(229,231,235);
    border-bottom: 2px solid rgb(229,231,235);
}

.plan:nth-child(even) .plan__middle {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

.plan__middle {
    margin: 0 -2rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 2rem;
}

.plan__target {
    font-size: 20px;
    letter-spacing: 0.025em;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

/* PLAN BOTTOM */


.plan__bottom {
    padding: 2rem 4rem;
}

.plan:nth-child(2) .plan__btn {
    background-color: rgb(247 250 252);
    color: rgb(100 21 255);
}
.plan__btn {
    border-radius: 0.25rem;
    padding: 1rem 2rem;
    font-weight: 700;
    transition: all 300ms ease;
    width: 100%;
    border-radius: 500px;
    font-size: .875rem;
    letter-spacing: 0.05rem;
}

.plan__btn:hover {
    transform: translate(1px, -1px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.pricing__blob {
    position: absolute;
    z-index: -10;
    left: 0;
    bottom: 0;
    transform: TranslateX(-50%) translateY(50%) scaleX(1) ScaleY(1);
    height: 256px;
    width: 256px;
    opacity: 0.3
}